.mat-divider{
    margin-left: 20%;
    margin-right: 20%;
    margin: 2%;
}

.header-text{
    margin: 2%;
    display: inline-block;
}

.mat-standard-chip {
    margin: 10px !important;
    margin-left: 10% !important;
    cursor: pointer;
    white-space: nowrap;
    text-align: center;
}

.flexc {
    flex-grow: 1;
    display: inline-block;
}