<form class="example-form" [formGroup]="formGroup" (ngSubmit)="login()">
  <mat-grid-list cols="1" rowHeight="72px">
    <mat-grid-tile>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>{{ 'Login.Login.Email' | translate }}</mat-label>
        <input type="email" matInput formControlName="email" [errorStateMatcher]="matcher"
          placeholder="mail@example.com" autocomplete="off" required>
        <mat-error *ngIf="formGroup.get('email')?.hasError('email') && !formGroup.get('email')?.hasError('required')">
          {{ 'Login.Login.Exception.ValidMail' | translate }}
        </mat-error>
        <mat-error *ngIf="formGroup.get('email')?.hasError('required')">
          {{ 'Login.Login.Exception.IsMail' | translate }}
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>{{ 'Login.Login.Password' | translate }}</mat-label>
        <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" [errorStateMatcher]="matcher"
          required>
        <mat-error *ngIf="formGroup.get('password')?.hasError('required')">
          {{ 'Login.Login.Exception.IsPassword' | translate }}
        </mat-error>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="2" rowHeight="72px" roWidth="50px">
    <mat-grid-tile>
      <button mat-button color="primary" type="button">{{ 'Login.Login.ForgotPass' | translate }}</button>  
    </mat-grid-tile>
    <mat-grid-tile>
      <button  mat-flat-button color="primary" type="submit">{{ 'Login.Login.Login' | translate }}</button>
    </mat-grid-tile>
  </mat-grid-list>
</form>
