<div *ngIf="isError" class="error-text">{{'Main.ShowFollowingListDialog.Exception.InternalServerError' | translate}}</div>
<mat-progress-bar mode="query" *ngIf="isLoading && !isError"></mat-progress-bar>
<div *ngIf="dataSource.data.length === 0 && !isLoading && !isError" class="noBodyFollowing">
<span>{{'Main.ShowFollowingListDialog.Exception.NoBodyFollowing' | translate}}</span>
</div>
<div *ngIf="dataSource.data.length > 0">
  <mat-form-field appearance="standard">
    <mat-label>{{'Main.ShowFollowingListDialog.Search' | translate}}</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="{{'Main.ShowFollowingListDialog.UserName' | translate}}"#input>
  </mat-form-field>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="followerName">
      <th mat-header-cell *matHeaderCellDef>
        {{tableheaderText}}
      </th>
      <td mat-cell *matCellDef="let element" class="clickable" (click)="getRouter(element.followerName)">
        {{element.followerName}}
      </td>
    </ng-container>
    <ng-container matColumnDef="button-notfollow">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-stroked-button color="primary" *ngIf="data.isMyProfile" (click)="removeData(element.id, element.followerName)">
          <mat-icon *ngIf=" isFollowOwner(element.followerName)  && data.listType === 'following'"  [matTooltip]="followingYouText">done</mat-icon>
          <mat-icon *ngIf=" !isFollowOwner(element.followerName) && data.listType === 'following'"  [matTooltip]="notFollowingYouText">clear</mat-icon>
          <mat-icon *ngIf=" isFollow(element.followerName)       && data.listType === 'follower'"   [matTooltip]="followingText">done</mat-icon>
          <mat-icon *ngIf=" !isFollow(element.followerName)      && data.listType === 'follower'"   [matTooltip]="notFollowingText">clear</mat-icon>
          {{tablebuttonText}}
        </button>
        <button mat-stroked-button color="primary" #matbutton (click)="follow(element.followerId, element.followerName, matbutton)" 
        *ngIf="!data.isMyProfile && element.followerName !== userService.userName" [disabled]="isFollow(element.followerName)">
            <span>{{isFollow(element.followerName) ? followingText : followText}}</span>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="3">
        {{'Main.ShowFollowingListDialog.NoData' | translate}}
      </td>
    </tr>
  </table>
</div>
