<div class="textarea-container">
    <mat-form-field appearance="outline">  
        <mat-label>{{'Main.ShareBox.WhatRUThink' | translate}}</mat-label>
        <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="5" cdkAutosizeMaxRows="5" cd maxlength="250"></textarea>
        <button type="submit" mat-stroked-button color="primary">{{'Main.ShareBox.Share' | translate}}</button> 
        <button  type="button" color="primary" mat-icon-button matTooltip="{{'Main.ShareBox.AddPhoto' | translate}}" matTooltipPosition="right">
            <mat-icon>add</mat-icon>
        </button>
    </mat-form-field>
</div>
