<form [formGroup]="formGroup" class="example-form">
        <h2 mat-dialog-title>{{'Basic.Dialog.Question' | translate}}</h2>
        <div mat-dialog-content>
            <mat-form-field appearance="outline">
                <mat-label>{{ 'Login.SignUp.Password' | translate }}</mat-label>
                <input matInput formControlName="password" [type]="hidepass ? 'password' : 'text'" [errorStateMatcher]="passwordMatcher"
                  required>
                <mat-error *ngIf="formGroup.get('password')?.hasError('required')">
                  {{ 'Login.SignUp.Exception.IsPassword' | translate }}
                </mat-error>
                <button mat-icon-button matSuffix type="button" (click)="hidepass = !hidepass" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hidepass">
                  <mat-icon>{{hidepass ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
              <mat-form-field class="pass" appearance="outline">
                <mat-label>{{ 'Login.SignUp.RePassword' | translate }}</mat-label>
                <input matInput formControlName="repassword" [type]="hiderepass ? 'password' : 'text'" [errorStateMatcher]="passwordMatcher"
                  required>
                <mat-error *ngIf="formGroup.get('password')?.hasError('required')">
                  {{ 'Login.SignUp.Exception.IsPassword' | translate }}
                </mat-error>
                <button mat-icon-button matSuffix type="button" (click)="hiderepass = !hiderepass" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hiderepass">
                  <mat-icon>{{hiderepass ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
        </div>
        <mat-dialog-actions>
            <button class="mat-raised-button" [mat-dialog-close]="false">{{ 'Login.ForgotPassword.Close' | translate }}</button>
            <button class="mat-raised-button mat-primary" (click)="send()">{{ 'Login.ForgotPassword.Send' | translate }}</button>
        </mat-dialog-actions>
</form>