<form [formGroup]="formGroup" class="example-form">
    <div class="dialog">
        <h2 mat-dialog-title>{{'Login.ForgotPassword.EnterPin' | translate}}</h2>
        <h5 mat-dialog-title>{{pinDirectory}}</h5>
        <div mat-dialog-content>
            <mat-form-field appearance="outline">
                <mat-label>{{ 'Login.ForgotPassword.EnterPin' | translate }}</mat-label>
                <input matInput #input formControlName="pin" maxlength="6" minlength="6" placeholder="123456" required autocomplete="off">
            </mat-form-field>
        </div>
        <h5 mat-dialog-title><b>{{leftSecond}}</b> {{ 'Login.ForgotPassword.SecondLeft' | translate }}</h5>
        <mat-dialog-actions>
        <button class="mat-raised-button" [mat-dialog-close]="false">{{ 'Login.ForgotPassword.Close' | translate }}</button>
        <button class="mat-raised-button mat-primary" (click)="send()">{{ 'Login.ForgotPassword.Send' | translate }}</button>
        </mat-dialog-actions>
    </div>
</form>