<div fxLayout="row wrap" fxLayoutGap="16px" grid>
  <div fxFlex="25%">
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let post of posts; let i=index">
      <mat-card role="group" class="example-card">
        <mat-card-header>
          <div mat-card-avatar [routerLink]="getRouter(post.userName)" class="example-header-image" [style.background-image]="'url(' + post.profilePhotoPath + ')'"></div>
          <mat-card-title [routerLink]="getRouter(post.userName)"><a>{{post.userName}}</a></mat-card-title>
          <mat-card-subtitle>{{ post.createTime | calculateDateDiff }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image *ngFor="let media of post.medias;" src="{{media.caption}}">
        <mat-card-content>
          <p>
            <mat-chip-list class="example-chip" cdkDropList cdkDropListOrientation="horizontal">
              <mat-chip *ngFor="let item of post.tags">
                 {{item.tagName}}
              </mat-chip>
            </mat-chip-list>
          </p>
          <p>{{post.content}}</p>
        </mat-card-content>
        <mat-card-actions>
          <div class="example-flex-container">
            <button mat-icon-button #likeButton (click)="likePost(likeButton, post.id)"
              matTooltip="{{'Main.MainCenter.Like' | translate}}" [color]="isLiked(post.id) ? 'warn' : undefined">
              <mat-icon>favorite</mat-icon>
            </button>
            <button mat-icon-button #expandbtn (click)="expandComment(expansionPanel, expandbtn)"
              matTooltip="{{'Main.MainCenter.Comment' | translate}}">
              <mat-icon>comment</mat-icon>
            </button>
              <span class="comment-count clickable" *ngIf="post.comments.length > 0" (click)="expandComment(expansionPanel, expandbtn)">
                {{post.comments.length}}
              </span>
            <h5 class="like-count" *ngIf="post.likes.length > 1">
              <span class="clickable" (click)="getRouter(post.likes[0].userName)">{{post.likes[0].userName}} </span> 
              <span class="clickable"> {{'Main.Profile.And' | translate}} {{post.likes.length -1 }} {{'Main.Profile.OthersLiked' | translate}}</span>
            </h5>
            <h5 class="like-count" *ngIf="post.likes.length == 1">
              <span class="clickable" (click)="getRouter(post.likes[0].userName)">{{post.likes[0].userName}}</span> {{'Main.Profile.Liked' | translate}}
            </h5>
          </div>
        </mat-card-actions>
        <mat-card-footer>
          <mat-accordion class="example-headers-align" hideToggle displayMode="flat">
            <mat-expansion-panel #expansionPanel disabled="true">
              <mat-expansion-panel-header [collapsedHeight]="'0px'" [expandedHeight]="'20px'"></mat-expansion-panel-header>
              <div class="textarea-container">
                <mat-form-field appearance="outline">
                  <mat-label>{{'Main.MainCenter.YourComment' | translate}}</mat-label>
                  <textarea matInput #commentText cdkTextareaAutosize cdkAutosizeMinRows="4" cdkAutosizeMaxRows="4" cd
                    maxlength="250"></textarea>
                </mat-form-field>
                <button type="button" color="primary" mat-icon-button (click)="addComment(post.id,commentText,'')"
                  matTooltip="{{'Main.MainCenter.Comment' | translate}}" matTooltipPosition="right">
                  <mat-icon>send</mat-icon>
                </button>
              </div>
              <ng-template matExpansionPanelContent>
                <mat-list role="listitem">
                  <mat-list-item role="comments" *ngFor="let comment of post.comments;" [disableRipple]="true">
                    <img class="clickable" matListAvatar [src]="comment.userProfilePhoto" [routerLink]="getRouter(comment.userName)">
                    <h3 class="clickable" matLine class="username" [routerLink]="getRouter(comment.userName)"> {{comment.userName}} </h3>
                    <p matLine>
                      <span> {{comment.commentText}} </span>
                    </p>
                    <button mat-icon-button [matMenuTriggerFor]="itemMenu" *ngIf="comment.userName === this.getPostByUserNameDto.userName">
                      <mat-icon>
                        more_vert
                      </mat-icon>
                    </button>
                    <mat-menu #itemMenu="matMenu">
                      <button mat-menu-item>
                        <mat-icon>create</mat-icon> {{'Main.MainCenter.UpdateComment' | translate}}
                      </button>
                      <button mat-menu-item (click)="deleteComment(comment.commentId, post.id)">
                        <mat-icon>delete_outline</mat-icon> {{'Main.MainCenter.DeleteComment' | translate}}
                      </button>
                    </mat-menu>
                    <mat-divider></mat-divider>
                  </mat-list-item>
              </mat-list>
              </ng-template>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-card-footer>
      </mat-card>
    </div>
    <div class="load-more">
      <button mat-icon-button (click)="loadMore()" *ngIf="!isLastRequest" matTooltip="{{'Main.MainCenter.Comment' | translate}}">
        {{'Main.MainCenter.ShowMore' | translate}}
        <mat-icon>expand_more</mat-icon>
      </button>
      <footer *ngIf="isLastRequest">
        <span>{{'Main.MainCenter.NoLeftShared' | translate}}</span>
      </footer>
    </div>
  </div>
</div>
