<span class="header-note">{{'Login.ForgotPassword.FillOneofCredential' | translate}}</span>
<div class="example-form">
  
  <mat-stepper linear="false" completed="true" #stepper>
    <mat-step [stepControl]="formGroup" state="email">
      <ng-template matStepperIcon="edit">
        <mat-icon>email</mat-icon>
      </ng-template>
      <form [formGroup]="formGroup" (ngSubmit)="forgotpass()">
        <ng-template matStepLabel>{{'Login.ForgotPassword.Email' | translate}}</ng-template>
        <mat-grid-list cols="1" rowHeight="72px">
          <mat-grid-tile>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>{{ 'Login.Login.Email' | translate }}</mat-label>
              <input type="email" matInput formControlName="email" placeholder="mail@example.com" autocomplete="off">
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="1" rowHeight="72px">
          <mat-grid-tile>
            <button mat-flat-button color="primary" type="submit">{{'Login.ForgotPassword.Send' | translate}}</button>
          </mat-grid-tile>
        </mat-grid-list>
      </form>
    </mat-step>
    <mat-step [stepControl]="formGroup" completed="true" state="phone">
      <ng-template matStepperIcon="edit">
        <mat-icon>call_end</mat-icon>
      </ng-template>
      <form [formGroup]="formGroup" (ngSubmit)="forgotpass()">
        <ng-template matStepLabel>{{'Login.ForgotPassword.MobilePhone' | translate}}</ng-template>
        <mat-grid-list cols="1" rowHeight="72px">
          <mat-grid-tile>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>{{ 'Login.SignUp.MobileNo' | translate }}</mat-label>
              <input type="text" matInput formControlName="mobilePhone" placeholder="5556667788" autocomplete="off"
                pattern="^\d{3}\d{3}\d{4}$" maxlength="10">
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="1" rowHeight="72px">
          <mat-grid-tile>
            <button mat-flat-button color="primary" type="submit">{{'Login.ForgotPassword.Send' | translate}}</button>
          </mat-grid-tile>
        </mat-grid-list>
      </form>
    </mat-step>
    <mat-step [stepControl]="formGroup" completed="true" state="userName">
      <ng-template matStepperIcon="edit">
        <mat-icon>title</mat-icon>
      </ng-template>
      <form [formGroup]="formGroup" (ngSubmit)="forgotpass()">
        <ng-template matStepLabel>{{'Login.ForgotPassword.UserName' | translate}}</ng-template>
        <mat-grid-list cols="1" rowHeight="72px">
          <mat-grid-tile>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>{{ 'Login.SignUp.UserName' | translate }}</mat-label>
              <input type="text" matInput formControlName="userName" placeholder="can.cil" autocomplete="off">
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="1" rowHeight="72px">
          <mat-grid-tile>
            <button mat-flat-button color="primary" type="submit">{{'Login.ForgotPassword.Send' | translate}}</button>
          </mat-grid-tile>
        </mat-grid-list>
      </form>
    </mat-step>
    <ng-template matStepperIcon="phone">
      <mat-icon>call_end</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="userName">
      <mat-icon>title</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="email">
      <mat-icon>email</mat-icon>
    </ng-template>
  </mat-stepper>
</div>
