<div class="div-center">
  <div class="div-center-header">
    <div class="header-isloading">
      <mat-spinner  [diameter]="125" *ngIf="isLoading"></mat-spinner>
    </div>
    <div class="grid-container" *ngIf="!isLoading">
      <div class="grid-item">
        <img [hidden]="imgURL != null" [class]="isMyProfile ? 'profile-photo' : 'profile-photo-disabled'" src="{{getProfileInfoDto.profilePhotoPath}}" alt="Avatar" (click)="fileInput.click()">
        <img [hidden]="imgURL == null" [class]="isMyProfile ? 'profile-photo' : 'profile-photo-disabled'" src="{{imgURL}}" alt="Avatar" (click)="fileInput.click()">
          <input hidden class="file-input" #fileInput type="file" (change)="changeProfilePhoto($event)" [disabled]="!isMyProfile" accept="image/*"/>
        <div class="bottom-photo">{{getProfileInfoDto.userNameSurname}}</div>
      </div>
      <div class="grid-item">
        <div class="bold-text">{{getProfileInfoDto.post}}</div>
        <div class="bottom-photo">{{'Main.Profile.Post' | translate}}</div>
      </div>
      <div class="grid-item">
        <div class="bold-text clickable" (click)="followingList()">{{getProfileInfoDto.following}}</div>
        <div class="bottom-photo clickable" (click)="followingList()">{{'Main.Profile.Following' | translate}}</div>
      </div>
      <div class="grid-item">
        <div class="bold-text clickable" (click)="followerList()">{{getProfileInfoDto.follower}}</div>
        <div class="bottom-photo clickable" (click)="followerList()">{{'Main.Profile.Follower' | translate}}</div>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="text-center">
      <mat-tab-group mat-align-tabs="center">
        <mat-tab>
          <mat-progress-bar mode="indeterminate" *ngIf="isLoading && !isLastRequest"></mat-progress-bar>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">account_box</mat-icon>
            {{'Main.Profile.Photos' | translate}}
          </ng-template>
          <div fxLayout="row wrap" fxLayoutGap="16px" grid>
            <div fxFlex="25%">
              <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let post of posts; let i=index">
                <mat-card role="group" class="example-card">
                  <mat-card-header>
                    <div mat-card-avatar class="example-header-image" *ngIf="imgURL == null" [style.background-image]="'url(' + post.profilePhotoPath + ')'"></div>
                    <div mat-card-avatar class="example-header-image" *ngIf="imgURL != null" [style.background-image]="'url(' + imgURL + ')'"></div>
                    <mat-card-title><a>{{post.userName}}</a></mat-card-title>
                    <mat-card-subtitle>{{ post.createTime | calculateDateDiff }}</mat-card-subtitle>
                    <span class="example-spacer"></span>
                    <button *ngIf="isMyProfile" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                      <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item *ngIf="false">
                        <mat-icon>format_paint</mat-icon>
                        <span>{{'Main.Profile.PostUpdate' | translate}}</span>
                      </button>
                      <button mat-menu-item (click)="deletePost(post.id)">
                        <mat-icon>delete_forever</mat-icon>
                        <span>{{'Main.Profile.PostDelete' | translate}}</span>
                      </button>
                    </mat-menu>
                  </mat-card-header>
                  <img mat-card-image *ngFor="let media of post.medias;" src="{{media.caption}}">
                  <mat-card-content>
                    <p>
                      <mat-chip-list class="example-chip" cdkDropList cdkDropListOrientation="horizontal">
                        <mat-chip *ngFor="let item of post.tags">
                          {{item.tagName}}
                        </mat-chip>
                      </mat-chip-list>
                    </p>
                    <p>{{post.content}}</p>
                  </mat-card-content>
                  <mat-card-actions>
                    <div class="example-flex-container">
                      <button mat-icon-button #likeButton (click)="likePost(likeButton, post.id)"
                        matTooltip="{{'Main.MainCenter.Like' | translate}}" [color]="isLiked(post.id) ? 'warn' : undefined">
                        <mat-icon>favorite</mat-icon>
                      </button>
                      <button mat-icon-button (click)="expandComment(expansionPanel)"
                        matTooltip="{{'Main.MainCenter.Comment' | translate}}">
                        <mat-icon>comment</mat-icon>
                      </button>
                      <h5 class="like-count" *ngIf="post.likes.length > 1">
                        <span class="clickable" (click)="getRouter(post.likes[0].userName)">{{post.likes[0].userName}} </span> 
                        <span class="clickable"> {{'Main.Profile.And' | translate}} {{post.likes.length -1 }} {{'Main.Profile.OthersLiked' | translate}}</span>
                      </h5>
                      <h5 class="like-count" *ngIf="post.likes.length == 1">
                        <span class="clickable" (click)="getRouter(post.likes[0].userName)">{{post.likes[0].userName}}</span> {{'Main.Profile.Liked' | translate}}
                      </h5>
                    </div>
                  </mat-card-actions>
                  <mat-card-footer>
                    <mat-accordion class="example-headers-align" hideToggle displayMode="flat">
                      <mat-expansion-panel #expansionPanel disabled="true">
                        <mat-expansion-panel-header [collapsedHeight]="'0px'" [expandedHeight]="'20px'"></mat-expansion-panel-header>
                        <div class="textarea-container">
                          <mat-form-field appearance="outline">
                            <mat-label>{{'Main.MainCenter.YourComment' | translate}}</mat-label>
                            <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="4" cdkAutosizeMaxRows="4" cd
                              maxlength="500"></textarea>
                          </mat-form-field>
                          <button type="button" color="primary" mat-icon-button
                            matTooltip="{{'Main.MainCenter.Comment' | translate}}" matTooltipPosition="right">
                            <mat-icon>add</mat-icon>
                          </button>
                        </div>
                        <ng-template matExpansionPanelContent>
                          <mat-list role="listitem">
                            <mat-list-item role="comments" *ngFor="let comment of post.comments">
                              <div class="commentusername">
                                {{comment.userName}}
                              </div>
                              <div class="commenttext">
                                {{comment.commentText}}
                              </div>
                              <mat-divider></mat-divider>
                            </mat-list-item>
                          </mat-list>
                        </ng-template>
                      </mat-expansion-panel>
                    </mat-accordion>
                  </mat-card-footer>
                </mat-card>
              </div>
              <div class="load-more">
                <button mat-icon-button (click)="loadMore()" *ngIf="!isLastRequest && !isLoading"
                  matTooltip="{{'Main.MainCenter.Comment' | translate}}">
                  {{'Main.MainCenter.ShowMore' | translate}}
                  <mat-icon>expand_more</mat-icon>
                </button>
                <footer *ngIf="isLastRequest">
                  <span>{{'Main.MainCenter.NoLeftShared' | translate}}</span>
                </footer>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">assignment_ind</mat-icon>
            {{'Main.Profile.Labels' | translate}}
          </ng-template>
          TAB 2
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">location_on</mat-icon>
            {{'Main.Profile.Locations' | translate}}
          </ng-template>
          İstanbul
        </mat-tab>
      </mat-tab-group>
    </div>

  </div>
</div>