<p>
  <mat-toolbar color="primary">
    <span>{{'Common.Title' | translate}}</span>
    <a mat-button routerLink="" *ngIf="isLogin">{{'Basic.Navbar.Mainpage' | translate}}</a>
    <span class="example-spacer"></span>

    <mat-form-field appearance="fill" class="chooseLang">
      <mat-label>{{'Basic.Navbar.Language' | translate}}</mat-label>
      <mat-select [(ngModel)]="selectedLang">
        <mat-option *ngFor="let lang of languages" [value]="lang.code" #langs (click)="selectLang(lang.code)">
          {{ lang.description }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <a mat-button (click)="logOut()" *ngIf="isLogin">{{'Basic.Navbar.Logout' | translate}}</a>
    <a mat-button routerLink="login/signup" *ngIf="!isLogin">{{'Basic.Navbar.Signup' | translate}}</a>
    <a mat-button routerLink="login" *ngIf="!isLogin">{{'Basic.Navbar.Login' | translate}}</a>
  </mat-toolbar>
</p>