.example-spacer {
    flex: 1 1 auto;
}

.mat-form-field{
    max-width: 150px;
    max-height: 85px;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}

.chooseLang{
    font-size: 14px;
    margin-top: 20px;
    border-bottom: 0ch !important;
}