.example-spacer {
    flex: 1 1 auto;
}

.mat-form-field{
    max-width: 6%;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}

.title:hover{
    cursor: pointer;
}

.navbar{
    width: 100%;
}

.mat-icon-button{
    margin-right: 1%;
}

.mat-form-field{
    margin-right: 1%;
}

.mat-menu-submenu-icon.ng-star-inserted{
    display: none !important;
}