.example-spacer {
    flex: 1 1 auto;
}

.mat-form-field{
    max-width: 6%;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}

.chooseLang{
    font-size: 14px;
    margin-top: 20px;
    border-bottom: 0ch !important;
}

.title:hover{
    cursor: pointer;
}

.navbar{
    width: 100%;
}